[Unit]
Description=TT Bot

[Service]
ExecStart=/home/ubuntu/tt_bot/run-bot.sh
Environment="WORK_DIR=/home/ubuntu/tt_bot"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
